:root {
    background: #e4d560;
}

h1, h5 {
    font-family: monospace, serif;
}

p {
    font-family: monospace, serif;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius: 25px;
    background: royalblue;
}

.button {
    background-color: royalblue; 
    border: none;
    border-radius: 15px;
    color: #e4d560;
    padding: 30px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

#hp-p {
    margin: 5px;
    font-family: monospace, serif;
    text-align: center;
}

.bgColor {
    background: #e4d560;
}

.container-sm {
    color: royalblue;
    padding: 5%;
    margin: 3em;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.hp-img {
    border:  solid 5px;
}

#hp-break {
    border-bottom: solid 5px;
    padding: 10px;
}

